<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.mapper.FileInfoMapper">

    <resultMap id="BaseResultMap" type="com.pan.pojo.entity.FileInfo">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="fileId" column="file_id" jdbcType="VARCHAR"/>
            <result property="fileMd5" column="file_md5" jdbcType="VARCHAR"/>
            <result property="filePid" column="file_pid" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileCover" column="file_cover" jdbcType="VARCHAR"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="folderType" column="folder_type" jdbcType="TINYINT"/>
            <result property="fileCategory" column="file_category" jdbcType="TINYINT"/>
            <result property="fileType" column="file_type" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="recoverTime" column="recover_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,file_id,file_md5,
        file_pid,file_size,file_name,
        file_cover,file_path,create_time,
        last_update_time,folder_type,file_category,
        file_type,status,recover_time,
        del_flag
    </sql>
    <insert id="insertBatch">
        INSERT INTO mypan.file_info
        (file_id, user_id, file_md5, file_pid, file_size, file_name, file_cover, file_path, create_time,
        last_update_time, folder_type, file_category, file_type, status, recover_time, del_flag)
        VALUES
        <foreach collection="list" item="fileInfo" separator=",">
            (#{fileInfo.fileId}, #{fileInfo.userId}, #{fileInfo.fileMd5}, #{fileInfo.filePid}, #{fileInfo.fileSize},
            #{fileInfo.fileName}, #{fileInfo.fileCover}, #{fileInfo.filePath}, #{fileInfo.createTime},
            #{fileInfo.lastUpdateTime}, #{fileInfo.folderType}, #{fileInfo.fileCategory}, #{fileInfo.fileType},
            #{fileInfo.status}, #{fileInfo.recoverTime}, #{fileInfo.delFlag})
        </foreach>
    </insert>


    <select id="selectSpaceSizeByfileIds" resultType="java.lang.Long">
        select ifnull(sum(file_size), 0)
        from mypan.file_info
        where user_id = #{userId}
        and file_id in
        <foreach collection="fileIdList" item="fileId" open="(" close=")" separator=",">
            #{fileId}
        </foreach>
    </select>


    <select id="selectFolderSize" resultType="java.lang.Long">
        select ifnull(sum(file_size), 0)
        from mypan.file_info
        where del_flag = #{type}
        <if test="children != null and children.size() > 0">
            and file_id in
            <foreach collection="children" item="fileId" open="(" close=")" separator=",">
                #{fileId}
            </foreach>
        </if>
        <if test="children == null or children.size() == 0">
            and 1 = 0 <!-- This ensures no rows are returned if children is empty -->
        </if>
    </select>





</mapper>
